.productContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 2150px; 
    margin: 0 auto; 
  }
  
  .product {
    flex: 0 0 20%; 
    max-width: 20%; 
    height: 400px; 
    padding: 20px; 
  }
  
  @media screen and (max-width: 860px) {
    .product {
      flex-basis: 25%; 
      max-width: 25%;
    }
  }
  
  @media screen and (max-width: 640px) {
    .product {
      flex-basis: 50%; 
      max-width: 50%;
    }
  }